.fz_size_10{
    font-size: 10px;
}
.fz_size_12{
    font-size: 12px;
}
.fz_size_13{
    font-size: 13px;
}
.fz_size_14{
    font-size: 14px;
}
.fz_size_15{
    font-size: 15px;
}
.fz_size_16{
    font-size: 16px;
}
.fz_size_18{
    font-size: 18px;
}
.fz_size_20{
    font-size: 20px;
}
.fz_w{
    font-weight: bold;
}
.ml_1{
    margin-left: 1px;
}
.ml_2{
    margin-left: 2px;
}
.ml_6{
    margin-left: 6px;
}
.ml_8{
    margin-left: 8px;
}
.ml_9{
    margin-left: 9px;
}
.ml_10{
    margin-left: 10px;
}
.ml_17{
    margin-left: 17px;
}
.ml_20{
    margin-left: 20px;
}
.mr_8{
    margin-right: 8px;
}
.mr_10{
    margin-right: 10px;
}
.mr_17{
    margin-right: 17px;
}
.mp_5{
    margin-top: 5px;
}
.mp_10{
    margin-top: 10px;
}
.mp_11{
    margin-top: 11px;
}
.mp_16{
    margin-top: 16px;
}
.mp_18{
    margin-top: 18px;
}
.mp_19{
    margin-top: 19px;
}
.mp_20{
    margin-top: 20px;
}
.mp_21{
    margin-top: 21px;
}
.mp_22{
    margin-top: 22px;
}
.mp_23{
    margin-top: 23px;
}
.mt_10{
   margin-bottom: 10px;
}
.mt_11{
    margin-bottom: 11px;
}
.flex_row{
    display: flex;
    flex-direction: row;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.text_color{
    color: #999999;
}
.text_color_2{
    color: #ED8506;
}
.text_color_3{
    color: #353535;
}
.text_color_4{
    color: #BFBFBF;
}
.text_color_5{
    color: #101010;
}
.text_color_6{
    color: #636363;
}
/*删除线*/
.text-decoration{
    text-decoration:line-through
}
.wz_1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
